<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matt.movieWatchList">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".viewControllers.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewControllers.activities.BrowseActivity">
        </activity>
        <activity
            android:name=".viewControllers.activities.TmdbActivity"
            android:parentActivityName=".viewControllers.activities.BrowseActivity"
            android:theme="@style/Theme.Slidr.Slidable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.BrowseActivity" />
        </activity>

        <activity
            android:name=".viewControllers.activities.WatchListDetailActivity"
            android:parentActivityName=".viewControllers.activities.MainActivity"
            android:theme="@style/Theme.Slidr.Slidable">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.MainActivity" />
        </activity>

        <activity android:name=".viewControllers.activities.SearchActivity"></activity>



    </application>

</manifest>