<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.matt.movieWatchList">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.matt.movieWatchList.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <!-- Movies -->
        <activity
            android:name=".viewControllers.activities.movies.MovieWatchListActivity">
        </activity>

        <activity
            android:name=".viewControllers.activities.movies.MovieBrowseActivity">
        </activity>

        <activity
            android:name=".viewControllers.activities.movies.MovieBrowseDetailActivity"
            android:parentActivityName=".viewControllers.activities.movies.MovieBrowseActivity"
            android:theme="@style/Theme.Slidr.Slidable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.movies.MovieBrowseActivity"/>
        </activity>

        <activity
            android:name=".viewControllers.activities.movies.MovieWatchListDetailActivity"
            android:parentActivityName=".viewControllers.activities.movies.MovieWatchListActivity"
            android:theme="@style/Theme.Slidr.Slidable">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.movies.MovieWatchListActivity"/>
        </activity>

        <activity
            android:name=".viewControllers.activities.movies.MovieSearchActivity">
        </activity>

        <!-- Shows -->
        <activity
            android:name=".viewControllers.activities.shows.TVShowBrowseActivity">
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.shows.TVShowWatchListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".viewControllers.activities.shows.TVShowBrowseDetailActivity"
            android:parentActivityName=".viewControllers.activities.shows.TVShowBrowseActivity"
            android:theme="@style/Theme.Slidr.Slidable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.shows.TVShowBrowseActivity" />
        </activity>

        <activity
            android:name=".viewControllers.activities.shows.TVShowWatchListDetailActivity"
            android:parentActivityName=".viewControllers.activities.shows.TVShowWatchListActivity"
            android:theme="@style/Theme.Slidr.Slidable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.shows.TVShowWatchListActivity" />
        </activity>

        <!-- other -->
        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.SettingsActivity">
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.SearchActivity">
        </activity>




    </application>

</manifest>