<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.matt.movieWatchList">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.matt.movieWatchList.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".viewControllers.activities.WatchListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.BrowseMoviesActivity">
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.BrowseTVShowsActivity">
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.TmdbActivity"
            android:parentActivityName="com.example.matt.movieWatchList.viewControllers.activities.BrowseMoviesActivity"
            android:theme="@style/Theme.Slidr.Slidable">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.matt.movieWatchList.viewControllers.activities.BrowseMoviesActivity" />
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.WatchListDetailActivity"
            android:parentActivityName=".viewControllers.activities.WatchListActivity"
            android:theme="@style/Theme.Slidr.Slidable">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".viewControllers.activities.WatchListActivity" />
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.SearchActivity">
        </activity>

        <activity
            android:name="com.example.matt.movieWatchList.viewControllers.activities.SettingsActivity">
        </activity>


    </application>

</manifest>